.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.image-wrapper {
  flex: 1;
  padding: 10px;
  max-width: 50%;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
  color: black !important ;
}
